#confirmation {
  display: none;
  color: red;
}

body {
  background-image: url(https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fcdn4.vectorstock.com%2Fi%2F1000x1000%2F76%2F33%2Fmission-impossible-rubber-stamp-vector-13317633.jpg&sp=1737544217T536903ba052e3db5165cdd2e5cb1f7b33bf5fc74ac94f5f3bf6779113283af42);
}
